@import 'variables.sass'
@import 'mixin.sass'

* 
    font-family: 'Museo Sans', sans-serif

.container 
    position: relative
    max-width: 950px
    margin: 0 auto


@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/buttons'
@import 'blocks/advantages'
@import 'media'
@import 'blocks/title' 
@import 'blocks/consultation' 
@import 'blocks/forms'
@import 'blocks/courusel2'
@import 'blocks/catalog'
@import 'blocks/reviews'
